.git
.gitignore
.DS_Store

**/__pycache__
**/*.py[cod]
**/.pytest_cache
**/.ruff_cache
**/.venv
**/venv

frontend/node_modules
frontend/dist

backend/cache
backend/data
backend/*.jsonl
backend/.env

.env
.env.*
!.env.example
!backend/.env.example

/docs